<% cache @product do %>
  <%= image_tag @product.featured_image if @product.featured_image.attached? %>
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
<% end %>
<%= link_to "Back", products_path %>
<%= link_to "Edit", edit_product_path(@product) if authenticated? %>
<%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure???" } if authenticated? %>